@import "the-new-css-reset/css/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");

#root {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  --color-white: #ffffff;
  --color-aqua: #bde5ff;
  --color-darkblue: #110d24;
}

a {
  text-decoration: underline;
  color: #bde5ff;
}

.App {
  display: inline-block;
  max-height: 100%;
}

.flex {
  display: flex;
  gap: 10px;
}

.container {
  position: relative;
  overflow: hidden;
  background-color: var(--color-darkblue);
}

.commonsDisplay .canvasBackground {
  z-index: -1;
}

.margin-right {
  margin-right: 20px;
}

.margin-top {
  margin-top: 20px;
}

button {
  position: relative;
  display: block;
  padding: 18px 60px;
  overflow: hidden;
  border-width: 1px;
  outline: none;
  border: 1px solid var(--color-aqua);
  border-radius: 8px;
  box-shadow: 0 1px 4px var(--color-white);
  background: none;

  transition: all 0.3s;

  font-family: "Mate SC", serif;
  color: #ecf0f1;
  font-size: 1.25em;
  letter-spacing: 2px;
  font-weight: 100;
  &.small {
    padding: 8px 24px;
    font-size: 1em;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(255, 255, 255);
    background-color: rgba(168, 215, 247, 0.1);
    border: 1px solid rgb(235, 247, 255);
    text-shadow: 0 2px rgb(255, 255, 255, 0.2);
  }
  &:active {
    color: rgb(209, 240, 255);
  }

  &.circular {
    width: 3rem;
    height: 3rem;
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &.minimize:before {
      content: "";
      border-color: #ecf0f1;
      width: 1.5rem;
      height: 1.5rem;
      margin-bottom: 1.1rem;
      border-style: solid;
      border-width: 0rem 0rem 0.4rem 0rem;
    }
    &.play:before {
      content: "";
      border-color: transparent transparent transparent #ecf0f1;
      transition: 100ms all ease;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 0.4rem;
      border-style: solid;
      border-width: 0.75rem 0 0.75rem 1.5rem;
    }

    &.pause:before {
      content: "";
      border-color: transparent transparent transparent #ecf0f1;
      transition: 100ms all ease;
      border-style: double;
      border-width: 0px 0 0px 1rem;
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 0.5rem;
    }
  }
}

.page {
  transition: opacity 0.5s;
  opacity: 0;
  &.show {
    opacity: 1;
  }
}

.pageDisplay {
  margin-left: 10%;
  width: 40%;

  max-height: 100%;
  display: inline-flex;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 2rem;
  overflow: hidden;

  background-color: #020114e0;
  box-shadow: 0px 0px 50px 50px #020114e0;

  .pageButtons {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .pageText {
    overflow-y: auto;
    h1 {
      font-family: "Mate SC", serif;
      color: #ecf0f1;
      font-weight: 100;
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    color: #ecf0f1;
    padding: 1rem 2rem 0rem 2rem;
    background-size: 100% 100%;
    p {
      font-size: 1.2rem;
      font-weight: 200;
      margin-bottom: 1.5rem;
    }
    p::first-letter {
      font-family: "Mate SC", serif;
      font-size: 1.25rem;
      margin-right: 0.1rem;
    }
  }
}

.previewContainer {
  margin-bottom: 1rem;
}

.previewImage {
  border: solid 1px #ecf0f1;
  box-shadow: 0 1px 4px rgb(255, 255, 255);
  cursor: pointer;
  &:hover {
    box-shadow: 4px 4px 8px rgb(255, 255, 255);
  }
}

.oakLogo {
  height: 200px;
  margin: 10px;
  align-self: flex-end;
}

.fullpage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.lorelist {
  font-family: "Mate SC", serif;
  font-size: 1.1rem;
  margin-inline-start: 1rem;
  letter-spacing: 0.3px;
  li {
    margin-top: 0.5rem;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #020114;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ecf0f1;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tooltip {
  text-decoration: underline;
  color: rgb(189, 229, 255);
}

.eye {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: solid 1px rgb(189, 229, 255);
  border-radius: 75% 15%;
  position: relative;
  transform: rotate(45deg);
}
.eye:before {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border: solid 1px rgb(189, 229, 255);
  border-radius: 50%;
  left: 3px;
  top: 3px;
}

.modalButton {
  position: absolute;
  right: 20px;
  background-color: rgb(7, 44, 69);
  &:hover {
    background-color: rgb(13, 66, 87);
  }
}

.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
  opacity: 0;
  background-color: #110d24d3 !important;
}
.ReactModal__Content {
  inset: unset !important;
  width: fit-content;
  max-width: 95vw;
  height: 100%;
  max-height: 95vh;
}
.modalImage {
  width: 99%;
  height: 99%;
  object-fit: contain;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
