@import "the-new-css-reset/css/reset.css";
@import url("https://fonts.googleapis.com/css2?family=Mate+SC&display=swap");
// body {
//   width: 100vw;
//   height: 100vh;
// }
.App {
  width: 100%;
  height: 100%;
  margin: 0;
}

.flex {
  display: flex;
  gap: 10px;
}

.container {
  position: relative;
  overflow: hidden;
  background-color: #110d24;
}

.canvasBackground {
  position: absolute;
  top: 0px;
  z-index: -2;
  &:hover {
    cursor: pointer;
  }
}

.commonsDisplay .canvasBackground {
  z-index: -1;
}

.margin-right {
  margin-right: 20px;
}

.margin-top {
  margin-top: 20px;
}

button {
  position: relative;
  display: block;
  padding: 18px 60px;
  overflow: hidden;
  border-width: 1px;
  outline: none;
  border: 1px solid rgb(168, 215, 247);
  border-radius: 8px;
  box-shadow: 0 1px 4px rgb(255, 255, 255);
  background: none;

  transition: all 0.3s;

  font-family: "Mate SC", serif;
  color: #ecf0f1;
  font-size: 1.25em;
  font-weight: 100;

  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 10px rgb(255, 255, 255);
    background-color: rgba(168, 215, 247, 0.1);
    border: 1px solid rgb(235, 247, 255);
    text-shadow: 0 2px rgb(255, 255, 255, 0.2);
  }
  &:active {
    color: rgb(209, 240, 255);
  }

  &.circular {
    width: 3rem;
    height: 3rem;
    padding: 0;
    border-radius: 50%;
  }
}

.header {
  display: grid;
  grid-template-columns: 15% 70% 15%;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.logoContainer {
  justify-self: center;
  align-self: center;

  display: flex;
  column-gap: 20px;
  &:hover {
    cursor: pointer;
  }
  .headerLogo {
    height: 60px;
  }
  .headerTitle {
    font-family: "Mate SC", serif;
    color: #ecf0f1;
    font-size: 1.5em;
    font-weight: 100;
    align-self: center;
  }
}

.displayInfo {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
}

.beautifyUI {
  position: absolute;
  left: 0rem;
  bottom: 0rem;
  .flex {
    padding: 3rem;
    &.hidden {
      height: 0px;
      left: -10000px;
      visibility: hidden;
    }
  }
}

.cornerInteraction {
  width: 15rem;
  height: 10rem;
  display: flex;

  border-style: solid;
  border-width: 1px 1px 0px 0px;
  border-color: rgb(235, 247, 255);
  border-radius: 0 100% 0 0;

  box-shadow: 0 1px 4px rgb(255, 255, 255);
  transition: all 1s;
  // transition-delay: 0.5s;

  font-family: "Mate SC", serif;
  color: #ecf0f1;
  font-size: 1em;

  vertical-align: middle;
  text-align: center;

  border: 0;
  box-shadow: none;
  color: #ecf0f100;

  span {
    width: 10rem;
    margin-left: 1rem;
    align-self: center;
  }
  &.hidden {
    display: none;
  }
  &:hover {
    cursor: pointer;
    color: #ecf0f1;
    box-shadow: 0 3px 10px rgb(255, 255, 255);
    background-color: rgba(168, 215, 247, 0.1);
    text-shadow: 0 2px rgb(255, 255, 255, 0.2);
  }
}

.oakDisplay {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  .oakText {
    h1 {
      font-family: "Mate SC", serif;
      color: #ecf0f1;
      font-weight: 100;
    }
    color: #ecf0f1;
    background-image: url(../src/assets/WorldMap-Parchmen-brown.png);
    filter: saturate(70%) brightness(125%);
    background-repeat: no-repeat;
    grid-column-start: 2;
    padding: 5rem;
    background-size: 100% 100%;
    p::first-letter {
      font-family: "Mate SC", serif;
      font-size: 1.1rem;
    }
  }
}

.oakLogo {
  height: 200px;
  margin: 10px;
  align-self: flex-end;
}
